<%= form_for(@book) do |f| %>
<% if @book.errors.any? %>
	
</div>
<div class="row">
      <div class="col s12">
        <div class="card-panel red">
          <span class="white-text"><h4><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h4>
	<ul>
		<% @book.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
          </span>
        </div>
      </div>
    </div>

<% end %>
<div class="field">
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</div>
<div class="field select">
	<%= f.label :author %><br>
	<%= f.collection_select( :author_id, Author.all, :id, :full_name, {prompt: true}, {class: "browser-default"}) %>
</div>
<div class="actions submit">
	<%= f.submit class: "btn btn-large btn-primary"%>
	<%= link_to 'Add New Author', new_author_path, class: "btn btn-large btn-primary"%>
</div>

<% end %>
